* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.booklist img {
    height: 200px;
    object-fit: contain;
}

.star-rating {
    position: relative;
    font-size: 20px;
    word-wrap: normal!important;
}

.star-rating-front {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.star-rating-back {
    color: #cccccc;
}

.average {
    font-size: 20px;
    font-weight: bold;
}