{% extends 'myapp/base.html' %}

{% block content %}

<div class="my-5">
    <div class="row">
        <div class="col-md-6 text-center">
            <img src="{{ book_list.image }}" alt="" class="img-fluid">
        </div>

        <div class="col-md-6">
            <div class="card-body px-2 py-1">
                <div class="p-4">
                    <h3>{{ book_list.title }}</h3>
                    <p class="mb-3">{{ book_list.author }}</p>
                    <hr>
                    {% if not book_list.reviewCount == 0 %}
                        <div class="d-flex flex-row">
                            <div class="star-rating">
                                <div class="star-rating-front text-warning" style="width: {{book_list.average}}%">★★★★★</div>
                                <div class="star-rating-back">★★★★★</div>
                            </div>
                            <div class="average ms-2 text-danger">
                                {{ book_list.reviewAverage|floatformat:2 }}
                            </div>
                            <div class="d-flex align-items-center ms-2">
                                {{ book_list.reviewCount }}件
                            </div>
                        </div>
                    {% else %}
                        <p>まだレビューはありません</p>
                    {% endif %}
                    <p class="t-3">価格: <span class="text-danger font-weight-bold h3">{{ book_list.itemPrice }}</span></p>
                    <a href="{{ book_list.itemUrl }}" class="btn btn-primary">買い物かごに入れる</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% if booka_list.itemCaption %}
    <div class="mb-5">
        <h5>商品説明</h5>
        <hr>
        <p>{{ book_list.itemCaption }}</p>
    </div>
{% endif %}

<div class="mb-5">
    <h5>商品情報</h5>
    <hr>
    <p>発売日: {{ book_list.salesDate }}</p>
    <p>著者/編集: {{ book_list.author }}</p>
    <p>出版社: {{ book_list.publisherName }}</p>
    <p>発行形態: {{ book_list.size }}</p>
    <p>ISBNコード: {{ book_list.isbn }}</p>
</div>

{% endblock %}